h1{
    color: blue;
    background-color:white  ;
    padding: 20px;
    border-radius: 5px;
    font-style: oblique;
}
p {color: black;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-style: normal;
}
h2{
    color: aqua;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-style: oblique;
}